.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Rubik", sans-serif;

  .toggle-filters-button {
    width: 45%;
  }

  .filter-options {
    padding: 32px;
  }

  .filters {
    position: fixed;
    top: 70px; /* Altura del navbar */
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    align-items: center;
    gap: 1px;
    flex-direction: column;

    .filter {
      margin-bottom: 15px; // Agrega espacio entre los filtros
    }

    .left-filters,
    .right-filters {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .right-filters {
      justify-content: flex-end; // Alinea los filtros a la derecha
    }

    label,
    select,
    input {
      width: 100%; // Asegura que los elementos ocupen todo el ancho
      max-width: 100%; // Limita el ancho máximo para dispositivos grandes
    }
  }

  .meals {
    margin-top: 150px; /* Ajusta el margen superior para evitar superposiciones */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    margin: 4em;
    margin-top: 160px;

    .meal {
      background-color: white;
      border-radius: 10px;
      padding: 15px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
      opacity: 0.9;

      &:hover {
        transform: translateY(-5px);
      }

      img {
        width: 100%;
        height: auto;
        max-height: 150px;
        object-fit: cover;
        border-radius: 7px;
        margin-bottom: 7px;
      }

      h3 {
        font-size: 1.3rem;
        margin-bottom: 5px;
      }

      p {
        font-size: 1rem;
        color: #555;
        margin-bottom: 10px;
      }

      .meal-link {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .filters {
      .left-filters,
      .right-filters {
        width: auto; // Ancho automático para dispositivos grandes
        flex-wrap: nowrap; // Evita que los elementos se envuelvan
        justify-content: flex-start; // Alinea los filtros a la izquierda
      }

      .filter-options {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
      }

      .right-filters {
        margin-left: auto; // Mueve los filtros hacia la derecha
      }

      label,
      select,
      input {
        width: auto; // Ancho automático para dispositivos grandes
        max-width: none; // Elimina el límite de ancho máximo
        margin-bottom: 0; // Elimina el espacio entre los elementos
        margin-right: 10px; // Agrega espacio entre los elementos
      }
    }
  }

  @media screen and (max-width: 768px) {
    .meals {
      margin-top: 250px; /* Ajusta el margen superior para evitar superposiciones */
    }
  }

  @media screen and (max-width: 576px) {
    .meals {
      grid-template-columns: 1fr;
    }
  }
}
