.navbar {
  position: fixed; /* Fija el navbar en la parte superior */
  top: 0; /* Asegura que el navbar esté siempre en la parte superior */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px;
  width: 100%; /* Ocupa el ancho completo de la página */
  color: white;
  z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */

  @media screen and (max-width: 768px) {
    flex-direction: row;
    align-items: center;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__title {
    font-family: "Permanent Marker", cursive;
    font-size: 2rem;
    margin: 0;
  }

  &__icon {
    font-size: 1.5rem;
    margin-right: 10px;

    color: black;
  }

  &__logout {
    font-size: 1rem;
    color: white;
    background-color: transparent;
    border: none;
    transition: color 0.3s; // Transición suave del color del texto
    margin-right: 12px;
  }

  &__link {
    font-style: normal;
    font-size: 1rem;
    color: black;
    text-decoration: none;
    margin-left: 20px;
  }

  @media screen and (max-width: 768px) {
    &__link {
      margin: 10px 0;
    }
  }
}
