.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Esto centra el contenido verticalmente en la página
}

.registration-box {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 8px;
  padding: 20px;
  margin: 9px;
  width: 80%; // Puedes ajustar el ancho como desees
  max-width: 400px; // Puedes ajustar el ancho máximo como desees
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 37px;
  font-family: "Permanent Marker", cursive;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
}

input {
  width: 97%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: black;
}

@media (max-width: 768px) {
  .registration-box {
    width: 90%; // Cambia el ancho del rectángulo en pantallas más pequeñas
  }
}
